# /etc/systemd/system/photo-screen.service
# sudo systemctl daemon-reload
# sudo systemctl enable photo-screen
# sudo systemctl start photo-screen
# tail -f /var/log/syslog

[Unit]
Wants=sound.target
After=sound.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/photo-screen
ExecStart=/home/pi/photo-screen/start.sh
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
